{% extends 'base.html' %}

{% load static %}
{% block head_title %}Virtual-Class|About{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:home_view' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{% url 'e_learning:about' %}" >About</a></li>
    </ol>
 </nav>
<div class="container-fluid mb-3 mt-4">
	<div class="row mt-4 justify-content-center pb-4">
		<div class="col-md-10">
            <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="mx-auto testimonial-item mb-lg-0"><img class="img-fluid img-thumbnail mb-3" src="{% static 'e_learning/image/about.jpg' %}"  style="width: 100%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 style="font-size: 23px;" class="text-center text-bold text-primary pt-2">Welcome to <span class="text-dark">Virtual</span>-Class</h1>
                  <p style="font-size: 17px;" class="text-justify pt-2">
                    Virtual<span class="text-primary">-Class</span> is an online learning platform that focuses on facilitating and accelerating the                    teaching and learning processes of different subjects in Uganda focusing mainly on Secondary school students both Ordinary and                      Advanced Level.
                  </p>
                  <p style="font-size: 17px;" class="text-justify pt-2">
                    Lessons are to be extended to all students inform of videos, notes and pdf files that will help students learn at their own                         comfort as well be able to interact with teachers in case of inquiries on particularly subject topics….
                  </p>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <h1 style="font-size: 20px;" class="text-left text-bold text-primary">Virtual Class is organized in particularly two             sections:</h1>
                  <h1 style="font-size: 18px;" class="text-left text-bold text-dark"><b>Students</b></h1>
                  <p style="font-size: 17px;" class="text-justify">
                   These are learners who are willing to gain knowledge.
                  </p>
                  <h1 style="font-size: 18px;" class="text-left text-bold text-dark"><b>Teachers</b></h1>
                  <p style="font-size: 17px;" class="text-justify">
                   These will be responsible for sharing their knowledge basing on their different fields of expertise ranging right from ordinary to advanced level subjects. 
                  </p>
                </div>
            </div>
	   </div>
	</div>
</div>
{% endblock %}