{% extends 'base.html' %}

{% load static %}
{% block head_title %}Contact{% endblock %}
{% block content %}
<div class="pt-1">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:index' %}">HOME</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{% url 'e_learning:contact_us' %}" >CONTACT&nbsp;US</a></li>
    </ol>
 </nav>
<div class="container-fluid mb-5 mt-2 pl-4 pr-4">
	<div class="row mt-4 justify-content-center">
		<div class="col-md-12">
         <div class="row pl-4 pr-4">
        <div class="col-md-9 col-lg-9 col-sm-12">
		  <div class="card mt-1">
		  	<div class="card-body p-4 shadow-sm">
			<h3 class="text-center text-primary pb-2">Get in touch</h3>
			<p class="text-center text-dark pb-4">Share Your Views</p>
			<form action = "{% url 'e_learning:contact_us'%}" method ="POST" required >
			    {% csrf_token %}
				<div class="row">
					<div class="col-md-4">
						<div class="input-group mb-3 bg-white">
						    <div class="input-group-prepend">
						      <span class="input-group-text" style="background-color: white;">
						      	<i class="fas fa-user"></i>
						      </span>
						    </div>
						    <input type="text" class="form-control" placeholder="Your name" name="your_name" required="required">
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-group mb-3 bg-white">
						    <div class="input-group-prepend">
						      <span class="input-group-text" style="background-color: white;">
						      	<i class="fas fa-phone"></i>
						      </span>
						    </div>
						    <input type="text" class="form-control" placeholder="Your phone number" name ="phone_no" required="required">
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-group mb-3 bg-white">
						    <div class="input-group-prepend">
						      <span class="input-group-text" style="background-color: white;">
						      	<i class="fas fa-envelope"></i>
						      </span>
						    </div>
						    <input type="text" class="form-control" placeholder="Your email" name ="email" required="required">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group mt-4">
	                      <label class="text-muted">Message</label>
	                      <textarea class="form-control" rows="6" name ="message"required="required" ></textarea>
	                    </div>
					</div>
                    <div class="col-md-12 col-lg-12 text-center pt-2">
                        <button type="submit" class="btn btn-primary pr-5 pl-5" style="font-family:sans-serif !important;">SUBMIT</button>
                    </div>
				</div>
			</form>
		     </div>
		   </div>
         </div>
         <div class="col-md-3 col-lg-3 col-sm-12">
             <div class="card mt-1 shadow-sm">
                <div class="card-body">
                    <h1 style="font-size: 20px;" class="text-bold text-center text-primary pt-1">For More Inquiries</h1>
                    <hr>
                     <h1 style="font-size: 18px;" class="text-bold text-left pt-1">Send an email</h1>
                    <p class="text-justify text-muted mt-2" style="font-size: 16px">
                    <i class="fa fa-envelope"></i>&nbsp;admin@virtualclass.ug
                    </p>
                    <h1 style="font-size: 18px;" class="text-bold text-left pt-1">Call Us</h1>
                    <p class="text-justify text-muted mt-2" style="font-size: 16px">
                    <i class="fa fa-phone"></i>+256(0) 777-081-799<br>
                    <i class="fa fa-phone"></i>+256(0) 752-023-621
                    </p>
                </div>
            </div>
         </div>
		</div>
		</div>
	</div>
</div>
{% endblock %}