{% extends 'base.html' %}

{% load static %}
{% block head_title %}E-Library{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{% url 'e_learning:contact_us' %}" >E-Library</a></li>
    </ol>
 </nav>
<div class="container mb-4">
	<div class="card shadow-sm mb-3 pb-4 h-100 p-2 mt-3 mb-3">
        <div class="row p-2">
        	<div class="col-md-12">
                <div class="text-center">
                    <img src="{% static 'e_learning/image/coming.PNG' %}" width="45%" height="45%" class="d-inline-block" alt="">
                </div>
        	</div>
        </div>
		</div>
	</div>

{% endblock %}