{% extends 'base.html' %}

{% load static %}

{% block head_title %}Virtual-Class{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item text-uppercase" aria-current="page"><a class="text-dark" href="{% url 'e_learning:home_view' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary text-uppercase" ><a href="{% url 'e_learning:frequently_asked_questions' %}" >FAQs</a></li>
    </ol>
 </nav>
<div class="container-fluid bg-white mb-4 mt-2 pl-4 pr-4 pb-5">

<h1 style="font-size: 23px;" class="text-bold text-dark text-center mb-2">Frequently Asked Questions(F.A.Qs)</h1><hr>
<!-- Content Row -->
<div class="row justify-content-center">
  <div class="col-md-11">
      <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">What is Virtual<span class="text-primary">-Class ?</span></h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            Virtual<span class="text-primary">-Class</span> is an online learning platform with an e-library as one of the key functionalities.The e-library enables all users to access books that can aid thier learning. The platform enables learners to access learning materials and interact with their teachers in a way similar to a traditional classroom. It also enables teachers to interact among themselves. <br><br>The platform focuses on facilitating and accelerating the teaching and learning processes in both secondary and college level.<br>
		<br>Lessons are to be extended to all students inform of videos, notes in pdf files.This helps students learn at their own comfort.Additionally, students are able to interact with their teachers incase of inquiries on particular subject areas.
        </p>

        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How do students get to pay for subjects ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
           Students will subscribe for courses through mobile money payments. These subscriptions will be set at relatively low prices, which can be affordable to all students. The terms of the subsription will be flexible.
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How long does a subject take to expire after purchase ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            Subjects will be available 24/7 to (only) students who have subscribed, however the subject duration will be set by the teacher responsible for the content uploaded.
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How do you apply to teach ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            The teacher will have to provide all the necessary details required to validate their credentials.<br>
		<img class="img-thumbnail" src="{% static 'e_learning/image/apply.PNG' %}" style="height:300px;width: 350px;">
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How to know your application to teach has been approved ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            An email will be sent to your inbox and your teacher account will be set and ready for use.<br>
	    <img class="img-thumbnail" src="{% static 'e_learning/image/switch.PNG' %}" style="height:300px;width: 350px;">
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How does the student interact with a teacher ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            Students will be able to leave a comment or reply basing on a particular topic of the subject uploaded by the teacher. He or she can ask any
		question concerning what was not understood properly understood.<br>
		<img class="img-thumbnail" src="{% static 'e_learning/image/chat.PNG' %}" style="height:300px;width: 300px;">
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How do students interact among themselves ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
           Students are able to intiate and take part in group discussions using the <span class="text-primary">Group Discussion</span>feature
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">How does a teacher interact with other teachers ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            The system was designed with a <span class="text-primary">ChatRoom</span> only accessible by teachers.The chatroom enables a teacher to create a chat, this chat is visible to all teachers on the system, and they are able to respond or reply.
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">What is E-Library ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            This system feature enables all users to access books that can aid their learning.
        </p>
        <h1 style="font-size: 20px;" class="text-bold pt-3 text-dark">What is E-Book ?</h1>
        <p class="text-justify mt-2 text-muted" style="font-size: 16px">
            This system feature allows teachers to recommend books to their students in the teachers' subjects of interest.
        </p>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}