{% extends 'base.html' %}

{% load static %}

{% block head_title %}Start-Learning{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:home_view' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{% url 'e_learning:frequently_asked_questions' %}" >FAQ</a></li>
    </ol>
 </nav>
<div class="container bg-white mb-4 mt-4">

<h3 class="text-muted mt-4 mb-2 text-center"><u>Frequently Asked Questions(FAQ)</u></h3>
<!-- Content Row -->
<div class="row justify-content-center">
  <div class="col-md-11">
  	<h4 class="pt-3 text-muted">What is Virtual<span class="text-primary">-Class ?</span></h4>
    <p class="text-muted" style="font-size: 18px;">
		Virtual<span class="text-primary">-Class</span> is an online learning platform that focuses on facilitating and accelerating the teaching and learning processes of different subjects in Uganda focusing mainly on Secondary school students both Ordinary and Advanced Level.<br>
		<br>Lessons are to be extended to all students inform of videos, notes and pdf files that will help students learn at their own comfort as well be able to interact with teachers in case of inquiries on particularly subject topics….
    </p>
    <h4 class="pt-3 text-muted">How do students get to pay for subjects ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		Students will subscribe for courses through mobile money payements particulaly MTN and courses will be at preferably low rates
		courses prices to be set by a specific teacher that owns the subject subscribed to.
    </p>
    <h4 class="pt-3 text-muted">How long does a subject take to expire after purchase ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		Subjects will be available 24/7 to (only) students who have subscribed, however the subject duration will be set by the teacher responsible
		for the content to be uploaded..
    </p>
    <h4 class="pt-3 text-muted">How do you apply to teach ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		The teacher will have to provide all the necessary details required especially your UNATU(registration id.) that will have to be verified by the
		administrators to ensure you didn't provide wrong credential details.<br>
		<img class="img-thumbnail" src="{% static 'e_learning/image/apply.PNG' %}" style="height:300px;width: 350px;">
    </p>
    <h4 class="pt-3 text-muted">How to know your application to teach has been approved ?</h4>
    <p class="text-muted" style="font-size: 18px;">
	    Once your account has been fully verified an e-mail will be sent your inbox and your teacher account will be initiated and ready for
	    use....<br>
	    <img class="img-thumbnail" src="{% static 'e_learning/image/switch.PNG' %}" style="height:300px;width: 350px;">
    </p>
    <h4 class="pt-3 text-muted">How does the student interact with a teacher ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		Students will be able to leave a comment or reply basing on a particular topic of the subject uploaded by the teacher, he/she can ask any
		question that was not understood properly and also share knowledge with a variety of students since it will be an open discussion between
		all the students who have subscribed to the subject and the teacher responsible for the subject...<br>
		<img class="img-thumbnail" src="{% static 'e_learning/image/chat.PNG' %}" style="height:300px;width: 300px;">
    </p>
    <h4 class="pt-3 text-muted">How does a teacher interact with other teacher ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		The system was designed with a chatroom only accessible by teachers though a teacher will be required to create a chat and most importantly
		include himself in the chat group with all those other teachers he would chat with.....
	</p>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}