{% extends 'base.html' %}

{% load static %}
{% block head_title %}Virtual-Class|Home{% endblock %}
{% block content %}
<section id="carousel">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <div class="jumbotron pulse animated hero-nature carousel-hero">
                <h1 class="hero-title" style="font-size: 30px;">College, Secondary <br>School Education </h1>
                    <p class="hero-subtitle" style="font-size: 20px;">Learn at your own comfort and expand your knowledge base through online lessons</p>
                    <a class="btn btn-primary pl-4 hero-button pr-4 plat donate" role="button" href="{% url 'e_learning:contact_us'%}" >Contact Us</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron pulse animated hero-photography carousel-hero">
                <h1 class="hero-title" style="font-size: 30px;">College, Secondary <br>School Education </h1>
                    <p class="hero-subtitle" style="font-size: 20px;">Learn at your own comfort and expand your knowledge base through online lessons</p>
                    <a class="btn btn-primary pl-4 pr-4 hero-button plat donate" role="button" href="{% url 'e_learning:contact_us'%}">Contact Us</a>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="jumbotron pulse animated hero-technology carousel-hero">
                <h1 class="hero-title" style="font-size: 30px;">College, Secondary <br>School Education </h1>
                    <p class="hero-subtitle" style="font-size: 20px;">Learn at your own comfort and expand your knowledge base through online lessons</p>
                    <a class="btn btn-primary pl-4 pr-4 hero-button plat donate" role="button" href="{% url 'e_learning:contact_us'%}">Contact Us</a>
                <section></section>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
    <ol
        class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
        </ol>
    </div>
    <!-- <div class="text-center" style="background-color:#fbfbfb;">
  <p class="text-primary pt-3 pb-3 slider_foot" style="font-size: 20px !important;font-weight: 500;">
    <span class="text-dark">
      Virtual<span class="text-primary">-Class</span>
    </span>
     "Extending Education"
  </p>
</div> -->
</section>
<div class="container-fluid mb-3 mt-3 pl-4 pr-4">
	<div class="row justify-content-center">
		<div class="col-md-12 pl-4 pr-4">
			<h3 class="text-center"></h3>
            <h1 style="font-size: 23px;" class="text-center text-bold text-dark">Welcome to Virtual<span class="text-primary">-Class</span> e-learning platform<br><span style="font-size:18px !important;color:#007bff!important;">“Learn anything, anytime”</span></h1>

        <p style="font-size: 18px;font-family:sans-serif !important;" class="text-justify text-muted pt-3">
            Virtual<span class="text-primary">-Class</span> is an online learning platform that enables students study online, access learning materials and interact with teachers in a way similar to a traditional classroom with lessons conducted inform of videos and notes in pdf files.<br><br>With <span class="text-dark">E-library</span> as one of the system's key functionalities, it enables students access books recommended by teachers in different subjects. Our current focus is on secondary level (Both Ordinary and Advanced levels). However, an expansion of the site is underway to include college (tertiary level). 
            </p>
		</div>
	</div>
</div>
<div class="container-fluid mb-3">
	<div class="mt-3 pb-4">
		<h1 style="font-size: 18px;" class="text-left text-primart text-primary text-uppercase  pt-3 pl-3"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Subject Categories</h1>
        <h1 style="font-size: 16px;font-family:sans-serif;" class="text-left text-dark text-capitalize pt-1 pl-3">&nbsp;&nbsp;Secondary School Level (Ordinary and Advanced)</h1>
		<div class="row pl-3 pr-3 pb-3 pt-1">
		{% for content in lista_all %}
        <div class="col-md-3 p-3">
            <div class="card shadow w-100 h-100" style="width: 18rem;">
                <a onclick="document.getElementById('{{forloop.counter}}').submit();">
              <img class="card-img-top" src="{{content.0}}" alt="Card image cap" style="height: 200px;">
              </a>
              <div class="card-body text-center">
              <h1 style="font-size: 18px;" class="card-text text-center text-capitalize text-primary pt-3">{{ content.1}} ({{content.2}})</h1>
              </div>
              <div class="text-center">
                  <hr>
                  <form id="{{ forloop.counter }}" action="{% url 'e_learning:subject_get'%}" method="POST" accept-charset="utf-8">

                    {% csrf_token%}
                    <input type="hidden" value="{{content.3}}" name="get_subject">

                  </form>
                  <a onclick="document.getElementById('{{forloop.counter}}').submit();" class="btn btn-outline-primary hero-button plat btn-sm mt-1 mb-4" style="border-radius: 19px !important;">
                      <i class="fas fa-award rounded-circle text-dark bg-white p-1">
                      </i>&nbsp;&nbsp;Learn More
                  </a>
              </div>
            </div>
        </div>
		{% endfor %}
</div>
<div class="container">
<div class="row justify-content-center pl-2 pr-2">
    <div class="col-md-12">
        <div class="container">
        <div class="row justify-content-center pl-2 pr-2">
            <div class="col-md-2 col-lg-2 col-sm-12">
                {% if lista_all.has_other_pages %}
					<ul class="pagination">
						{% if lista_all.has_previous %}
						<li class="page-item">
						<a class="page-link" href="?page={{ lista_all.previous_page_number }}" tabindex="-1">Prev</a>
						</li>
						{% endif %}

						<li class="page-item active">
						<a class="page-link" href="?page={{ lista_all.number }}">{{ lista_all.number }}<span class="sr-only">(current)</span></a>
						</li>

						{% if lista_all.has_next%}
						<li class="page-item">
						<a class="page-link" href="?page={{ lista_all.next_page_number }}">Next</a>
						</li>
						{% endif %}
					</ul>

			{% endif %}
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>


{% endblock %}