{% extends 'base.html' %}

{% load static %}

{% block head_title %}Virtual-Class{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item text-uppercase" aria-current="page"><a class="text-dark" href="{% url 'e_learning:home_view' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary text-uppercase" ><a href="{% url 'e_learning:frequently_asked_questions' %}" >Privacy Policy</a></li>
    </ol>
 </nav>
<div class="container-fluid bg-white mb-4 mt-1 pb-5">

<h1 style="font-size: 23px;" class="text-bold text-dark text-center mb-2">PRIVACY POLICY</h1><hr>
<!-- Content Row -->
<div class="row justify-content-center">
  <div class="col-md-11">
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            This privacy policy sets out how Virtual Class uses and protects any information that you give Virtual class when you use this website.
When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.<br><br>
This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, and delete your information.<br><br>
Virtual Class is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.<br><br>
Virtual class may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1st July 2020.
        </p>

        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">We want you to understand the types of information we collect as you use our services</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;"> As you use our services, you may be required to provide the following information; personal information; including names, gender and contacts, past experiences, teacher registration numbers, employment history, location among others.<br><br>
We use the information we collect from all our services for the following purposes:

        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Provide better services</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We use your information to deliver our services, like processing the terms you search for in order to return results or helping you share content by suggesting recipients from your contacts..
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Maintain & improve our services</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We also use your information to ensure our services are working as intended, such as tracking outages or troubleshooting issues that you report to us. And we use your information to make improvements to our services — for example, understanding which search terms are most frequently misspelled helps us improve spell-check features used across our services.
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Develop New Services</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We use the information we collect in existing services to help us develop new ones. 
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Measure Performance</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We use data for analytics and measurement to understand how our services are used and gauge their impact. 
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Communicate with you</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We use information we collect, like your email address and telephone numbers, to interact with you directly. For example, we may send you a notification if we detect suspicious activity, like an attempt to sign in to your Google Account from an unusual location.
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-dark text-center">MANAGING, REVIEWING, AND UPDATING YOUR INFORMATION</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            When you’re signed in, you can always review and update information by visiting the services you use.
We don’t show you personalized ads based on sensitive categories, such as race, religion
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">When Virtual class shares your information</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We do not share your personal information with companies, organizations, or individuals outside of Virtual class except in the following cases:
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">With your consent</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We’ll share personal information outside of Virtual class when we have your consent. We’ll ask for your explicit consent to share any sensitive personal information.
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">With Subject Heads of departments</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            If you’re a teacher, your head of department will have access to some information in your account. They may be able to delete contents you upload in case it is substandard.<br><br> They can also suspend or terminate your account access
Receive your account information in order to satisfy applicable law, regulation, legal process, or enforceable governmental request
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">For legal reasons</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We will share personal information outside of Virtual class if we have a good-faith belief that access, use, preservation, or disclosure of the information is reasonably necessary to:<br><br>
Meet any applicable law, regulation, legal process, or enforceable governmental request.<br><br>
Enforce applicable Terms of Service, including investigation of potential violations.<br><br>
Detect, prevent, or otherwise address fraud, security, or technical issues.<br><br>
Protect against harm to the rights, property or safety of virtual class, our users, or the public as required or permitted by law.<br><br>
If Virtual class is involved in a merger, acquisition, or sale of assets, we’ll continue to ensure the confidentiality of your personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.

        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-dark text-center">KEEPING YOUR INFORMATION SECURE</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
We work hard to protect you from unauthorized access, alteration, disclosure, or destruction of information we hold.
We use encryption to keep your data private while in transit<br><br>
We frequently review our information collection, storage, and processing practices, including physical security measures, to prevent unauthorized access to our systems<br><br>
We restrict access to personal information to Virtual class team, employees, and contractors who need that information in order to process it. Anyone with this access is subject to strict contractual confidentiality obligations and may be disciplined, terminated or prosecuted if they fail to meet these obligations.
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-dark text-center">DELETING YOUR INFORMATION</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
           You can delete whenever you like, such as the content you create or upload. You can also delete activity information saved in your account
<br><br>And some data we retain for longer periods of time when necessary for legitimate business or legal purposes, such as security, fraud and abuse prevention, or financial record-keeping.<br><br>
When you delete data, we follow a deletion process to make sure that your data is safely and completely removed from our servers. We try to ensure that our services protect information from accidental or malicious deletion. Because of this, there may be delays between when you delete something and when copies are deleted from our servers and backup.

        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">When this policy applies</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            This Privacy Policy applies to all of the services offered by Virtual class, including the e-library and virtual class app.
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Changes to this policy</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            We change this Privacy Policy from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. If changes are significant, we’ll provide a more prominent notice (including, email notification of intended changes)
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">How we use cookies</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
           We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.<br><br>
Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.<br><br>
You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.

        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Links to other websites</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
        </p>
        <h1 style="font-size: 20px;font-family:sans-serif !important;" class="text-bold pt-3 text-primary">Addressing grievances on your personal information</h1>
        <p class="text-justify text-muted mt-2" style="font-size: 18px;font-family:sans-serif !important;">
            If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the contacts given. We will promptly correct any information found to be incorrect.
        </p>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}