{% extends 'student_base.html' %}

{% load static %}
{% block head_title %}Virtual-Class{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'e_learning:home_view' %}" class="text-dark">Home</a>
      </li>
      <li class="breadcrumb-item" ><a href="{% url 'e_learning:my_subjects' %}" class="text-dark">My Subjects</a></li>
      <li class="breadcrumb-item active text-primary" ><a href="#">Start Reading</a></li>
    </ol>
 </nav>
<div class="container mt-2 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-sm">
        <h3 class="text-primary pt-3 pl-4 text-center">{{material_name}}</h3>
        <h6 class="text-dark pt-1 pl-4 text-center">{{material_class}}</h6>
        <hr>
        <div class="card-body">
          <h6 class="text-center pb-3" style="color:black;"><u>Table of content</u></h6>
          {% if my_reading_material%}
        {% for topic in my_reading_material %}
            <ul>
            <li>
                <a href="{{ topic.get_open_content }}">{{topic.topic}}</a>
            </li>
            </ul>
        {% endfor %}
        {% else %}
            <p class="text-muted pt-3 pb-3 text-center" style="font-family:sans-serif !important;">No topic has been uploaded yet for this particular subject</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}