{% extends 'student_base.html' %}

{% load static %}

{% block head_title %}Virtual-Class{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fdfdff !important;">
    <li class="breadcrumb-item text-uppercase" aria-current="page"><a class="text-dark" href="{% url 'e_learning:teacher_homepage' %}">home</a>
    </li>
    <li class="breadcrumb-item text-uppercase" ><a class="text-dark" href=" " >My Subjects</a>
    </li>
    <li class="breadcrumb-item text-uppercase" ><a class="text-dark" href=" " >Subject name</a>
    </li>
    <li class="breadcrumb-item active text-primary text-uppercase" ><a href=" " >watch video</a>
    </li>
  </ol>
</nav>
<div class="container-fluid">
    {% for a in student_videoz %}
        <p>{{a.topic}}</p>
    {% endfor %}
    <div class="row">
        <div class="col-md-2">
        <h1 class="text-center text-dark" style="font-family:sans-serif !important;font-size:18px !important;">TOPICS</h1>
        {% for a in student_videoz %}
        <div class="nav flex-column video-display-btn">
            <a class="nav-link link"  aria-expanded="true">{{a.topic}}</a>
            <!-- <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Settings</a> -->
        </div>
        {% endfor %}
        </div>
        <div class="col-md-10 video-display">
        <div class="tab-content tab-content-clear ">
            <div class="tab-pane fade show active" id="av" role="tabpanel" aria-labelledby="ab">
                One
                <div class="embed-responsive embed-responsive-16by9 hoverable">
                    <video class="embed-responsive-item" controls>
                        <source src="/media/Google_Developer_Student_Clubs_nbP6MfS.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                Two
                <div class="embed-responsive embed-responsive-16by9 hoverable">
                    <video class="embed-responsive-item" controls>
                        <source src="/media/Google_Developer_Student_Clubs_nbP6MfS.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                Three
                <div class="embed-responsive embed-responsive-16by9 hoverable">
                    <video class="embed-responsive-item" controls>
                        <source src="/media/Google_Developer_Student_Clubs_nbP6MfS.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                Four
                <div class="embed-responsive embed-responsive-16by9 hoverable">
                    <video class="embed-responsive-item" controls>
                        <source src="/media/Google_Developer_Student_Clubs_nbP6MfS.mp4" type="video/mp4">
                    </video>
                </div>
            </div> -->
        </div>
    </div>
    
    </div>
</div>
{% endblock %}