{% extends 'base.html' %}

{% load static %}
{% block head_title %}Virtual-Class{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:home_view' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{% url 'e_learning:team' %}" >Team</a></li>
    </ol>
 </nav>
<div class="container mb-5">
	<h5 class="text-primary text-center mt-2 pb-2">Development Team</h5><hr>
	<div class="row pb-5">
            <div class="col-lg-3 col-md-3">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <div class="text-center"><img class="img-holder  img-fluid mb-3" src="{% static 'e_learning/image/nyanzi.jpg' %}"></div>
                    <h5 class="text-center" style="font-size: 15px;"><b>Nyanzi Shafik</b></h5>
                    <p class="text-center mb-0" style="font-size: 15px;">Software Engineer</p>
                    <p class="text-center mb-0" style="font-size: 15px;">nyanzishafik5@gmail.com</p>
                    <div class="text-center pt-2">
			        <a href="#"><i class="fab fa-facebook fa-1x ml-2" style="background-color: white;"></i></a>
			        <a href="#"><i class="fab fa-twitter fa-1x ml-2"></i></a>
			        <a href="#"><i class="fab fa-instagram fa-1x ml-2" style="color: maroon;"></i></a>
			        <a href="#"><i class="fab fa-linkedin-in fa-1x ml-2 "></i></a>
			      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <div class="text-center"><img class="img-holder  img-fluid mb-3" src="{% static 'e_learning/image/felix.jpg' %}"></div>
                    <h5 class="text-center" style="font-size: 15px;"><b>Egaru Felix</b></h5>
                    <p class="text-center mb-0" style="font-size: 15px;">Software Engineer</p>
                    <p class="text-center mb-0" style="font-size: 15px;">egarufelix@gmail.com</p>
                    <div class="text-center pt-2">
			        <a href="#"><i class="fab fa-facebook fa-1x ml-2" style="background-color: white;"></i></a>
			        <a href="#"><i class="fab fa-twitter fa-1x ml-2"></i></a>
			        <a href="#"><i class="fab fa-instagram fa-1x ml-2" style="color: maroon;"></i></a>
			        <a href="#"><i class="fab fa-linkedin-in fa-1x ml-2 "></i></a>
			      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <div class="text-center"><img class="img-holder img-fluid mb-3" src="{% static 'e_learning/image/emma.jpg' %}"></div>
                    <h5 class="text-center" style="font-size: 15px;"><b>Kiguli Emmanuel</b></h5>
                    <p class="text-center mb-0" style="font-size: 15px;">Software Developer</p>
                    <p class="text-center mb-0" style="font-size: 15px;">emmaclints1@gmail.com</p>
                    <div class="text-center pt-2">
			        <a href="#"><i class="fab fa-facebook fa-1x ml-2" style="background-color: white;"></i></a>
			        <a href="#"><i class="fab fa-twitter fa-1x ml-2"></i></a>
			        <a href="#"><i class="fab fa-instagram fa-1x ml-2" style="color: maroon;"></i></a>
			        <a href="#"><i class="fab fa-linkedin-in fa-1x ml-2 "></i></a>
			      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <div class="text-center"><img class="img-holder  img-fluid mb-3" src="{% static 'e_learning/image/laban.jpg' %}"></div>
                    <h5 class="text-center" style="font-size: 15px;"><b>Amazo Laban</b></h5>
                    <p class="text-center mb-0" style="font-size: 15px;">Developer</p>
                    <p class="text-center mb-0" style="font-size: 15px;">amazolaban@gmail.com</p>
                    <div class="text-center pt-2">
			        <a href="#"><i class="fab fa-facebook fa-1x ml-2" style="background-color: white;"></i></a>
			        <a href="#"><i class="fab fa-twitter fa-1x ml-2"></i></a>
			        <a href="#"><i class="fab fa-instagram fa-1x ml-2" style="color: maroon;"></i></a>
			        <a href="#"><i class="fab fa-linkedin-in fa-1x ml-2 "></i></a>
			      </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}